<main class="content">
    <div class="page-title"
    style="border-bottom: 2px solid #ccc">
        <h4>
            <a href="#">Users</a>
            <i class="material-icons">-></i>
            User Name
        </h4>

    </div>

    <div class="row">
        <div class="col s12 l6">
            <div class="input-field">
                <span class="" for="name">User Name</span>
            </div>

            <div class="input-field">
                <span class="" for="name">User Last Name</span>
            </div>
            <div class="input-field">
                <span class="" for="name">User email</span>
            </div>
            <div class="input-field">
                <span class="" for="name">User hobbies</span>
            </div>
            <div class="input-field">
                <span class="" for="name">User country</span>
            </div>
        </div>

        <div class="col s12 l4 center">
            <img class="responsive-img" style="height: 200px" src="">
        </div>
    </div>



</main>