<form class="row">
    <div class="col s12">
        <div class="collection">
            <a href="#!" class="collection-item" style="font-weight:bold">user 1<button class="waves-effect waves-light btn red darken-1" style="margin-left: 90%;">delete</button></a>
            <a href="#!" class="collection-item" style="font-weight:bold">user 1<button class="waves-effect waves-light btn red darken-1" style="margin-left: 90%;">delete</button></a>
            <a href="#!" class="collection-item" style="font-weight:bold">user 1<button class="waves-effect waves-light btn red darken-1" style="margin-left: 90%;">delete</button></a>
            <a href="#!" class="collection-item" style="font-weight:bold">user 1<button class="waves-effect waves-light btn red darken-1" style="margin-left: 90%;">delete</button></a>
            <a href="#!" class="collection-item" style="font-weight:bold">user 1<button class="waves-effect waves-light btn red darken-1" style="margin-left: 90%;">delete</button></a>
            <a href="#!" class="collection-item active" style="font-weight:bold">user 2<button class="waves-effect waves-light btn red darken-1" style="margin-left: 90%;">delete</button></a>
            <a href="#!" class="collection-item" style="font-weight:bold">user 1<button class="waves-effect waves-light btn red darken-1" style="margin-left: 90%;">delete</button></a>
            <a href="#!" class="collection-item" style="font-weight:bold">user 1<button class="waves-effect waves-light btn red darken-1" style="margin-left: 90%;">delete</button></a>
        </div>
    </div>
</form>